<app-sidebar></app-sidebar>

<div class="md:ml-64">
  <div class="w-full h-[400px] bg-white mt-[75px] rounded-lg shadow-lg grid">
    <div class="w-full grid grid-cols-12">
      <div class="w-full col-span-4 flex flex-col justify-center items-center">
        <div>
          <div
            class="h-[200px] w-[200px] bg-secondary rounded-full overflow-hidden shadow-lg"
          >
            <img
              *ngIf="!loading"
              [src]="userdetails.photo"
              alt="Description"
              class="object-cover h-full w-full"
            />
          </div>

          <div
            class="h-[30px] w-[30px] relative bg-primary is_online rounded-full shadow-lg"
          ></div>
        </div>
        <div>
          <p class="text-16">
            Branch :
            <span class="font-bold" *ngIf="!loading">{{
              userdetails.branch_name
            }}</span>
          </p>
          <p class="text-16">
            ID :
            <span class="font-bold" *ngIf="!loading"
              >#{{ userdetails.id }}</span
            >
          </p>
        </div>
      </div>
      <div class="col-span-8 flex justify-center items-center">
        <div class="w-full grid grid-cols-12 gap-4 h-[200px]">
          <div
            class="col-span-6 px-4 py-4 bg-primary-dark grid grid-cols-12 justify-center items-center rounded-lg h-[120px]"
          >
            <div class="col-span-3 flex items-center justify-center">
              <i
                class="fa-solid fa-circle-info text-[60px]"
                style="color: aqua"
              ></i>
            </div>
            <div class="col-span-9 flex flex-col text-start">
              <p class="text-2xl text-white font-bold">
                <span><i class="fa-solid fa-user text-16"></i></span
                >&nbsp;&nbsp;<span *ngIf="!loading">{{
                  this.userdetails.name
                }}</span>
              </p>
              <p class="text-16 text-white font-bold">
                <span><i class="fa-solid fa-envelope"></i></span
                >&nbsp;&nbsp;<span *ngIf="!loading">{{
                  this.userdetails.email
                }}</span>
              </p>
              <p class="text-16 text-white font-bold">
                <span><i class="fa-solid fa-phone"></i></span>&nbsp;&nbsp;<span
                  *ngIf="!loading"
                  >{{ this.userdetails.raw_phone }}</span
                >
              </p>
            </div>
          </div>
          <div
            class="col-span-6 px-4 py-4 bg-secondary grid grid-cols-12 justify-center items-center rounded-lg h-[120px]"
          >
            <div class="col-span-3 flex items-center justify-center">
              <i class="fa-solid fa-bag-shopping text-[60px] text-white"></i>
            </div>
            <div class="col-span-9 flex flex-col text-start">
              <p class="text-16 text-white font-bold">This Week Payment</p>

              <p class="text-2xl text-white font-bold">
                <span *ngIf="!loading">{{ currentEarnings }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full px-4 flex justify-center items-center flex-col gap-5 bg-gray-100 py-7"
  >
    <div class="text-center text-2xl font-bold">
      Sub Affiliate Payment Histories
    </div>
    <div class="p-4 bg-white rounded-2xl">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div
          class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
        >
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="table-search"
              class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search for items"
            />
          </div>
        </div>
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Payment Due Date</th>
              <th scope="col" class="px-6 py-3">Amount</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-6 py-3">
                Payment Recieve by {{ isAffiliate ? "Admin" : "Affiliate" }} on
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let payment of paymentData"
              class="border-b"
              [class.bg-red]="payment.status === 'deadline'"
              [class.bg-bg-white]="payment.status !== 'deadline'"
              [class.text-white]="payment.status === 'deadline'"
              [class.text-black]="payment.status !== 'deadline'"
            >
              <td class="px-6 py-4">
                {{ datePipe.transform(payment.deadline, "MMMM dd, yyyy") }}
              </td>
              <td class="px-6 py-4">
                ₱{{
                  payment.status !== "ongoing"
                    ? payment.amount
                    : currentEarnings
                }}
              </td>
              <td class="px-6 py-4">{{ payment.status.toUpperCase() }}</td>
              <td class="px-6 py-4">
                {{ payment.paid_on ?? "Unpaid".toUpperCase() }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
