<app-loading-component *ngIf="loadingpage"></app-loading-component>
<app-sidebar></app-sidebar>
<div class="md:ml-64">
  <app-nav-header [title]="title"></app-nav-header>

  <div class="w-full px-3 py-4 md:mt-[96px] mt-[50px] shadow-lg rounded-lg">
    <div class="w-full flex justify-end items-center px-5">
      <p
        class="px-3 py-2 bg-primary-dark text-white mt-[40px] md:mt-[94px] mr-3 rounded-lg"
        (click)="openWeeklyPaymentModal()"
      >
        Set Weekly Payment : ({{ selectedDay }})
      </p>
      <p
        class="px-3 py-2 bg-primary text-white mt-[40px] md:mt-[94px] mr-3 rounded-lg"
        (click)="addAffiliate()"
      >
        <i class="fa-solid fa-user-plus mr-2"></i><span>Add Sub Affiliate</span>
      </p>
    </div>
    <div class="relative overflow-x-auto shadow-md rounded-lg">
      <div class="flex justify-end items-center gap-4">
        <div
          class="flex flex-column flex-row flex-wrap space-y-4 space-y-0 items-center justify-end"
          *ngIf="displayedItems.length != 0 || !onsearch"
        >
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
            <div
              *ngIf="loadingpage && !onsearch"
              class="absolute w-full h-full bg-gray-100 flex justify-center items-center rounded-lg"
            >
              Loading...
            </div>
            <div
              class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pb-3pointer-events-none"
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400 mb-[12px]"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="table-search"
              (input)="searchSubAfffiliateEvent($event)"
              class="block p-2 ps-10 mb-[13px] text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search for items"
            />
            <!-- (keyup)="onSearch($event)" -->
          </div>
        </div>
      </div>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 text-center">Id</th>
            <th scope="col" class="px-6 py-3 text-center">Name</th>
            <th scope="col" class="px-6 py-3 text-center">Status</th>
            <th scope="col" class="px-6 py-3 text-center">
              Sub-Affiliate Earning
            </th>
            <th scope="col" class="px-6 py-3 text-center">
              Sub-Affiliate Earning Percentage
            </th>
            <th scope="col" class="px-6 py-3 text-center">My Earning</th>
            <th scope="col" class="px-6 py-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="loadingpage">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>

            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>

            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
          </tr>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>

            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
          </tr>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>

            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              Loading .....
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!loadingpage">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            *ngFor="let item of displayedItems"
          >
            <td class="px-6 py-2 text-black font-bold text-16 text-center">
              {{ item.user.id }}
            </td>
            <td
              class="px-6 py-2 text-black font-semibold text-16 text-center"
              [class.text-red]="item.user.is_active == 0"
            >
              {{ item.user.name }}
            </td>
            <td class="px-6 py-2 text-black font-semibold text-16 text-center">
              {{ item.user.is_active == 1 ? "Active" : "Deactive" }}
            </td>
            <td class="px-6 py-2 text-black font-semibold text-16 text-center">
              ₱{{ item.total_earnings.toFixed(2) }}
            </td>
            <td class="px-6 py-2 text-black font-semibold text-16 text-center">
              {{ item.earning_percentage }}%
            </td>
            <td class="px-6 py-2 text-black font-semibold text-16 text-center">
              ₱{{ item.affiliate_earnings.toFixed(2) }}
            </td>

            <td class="px-6 py-2 text-black font-semibold text-16 text-center">
              <div class="flex justify-center gap-2">
                <a
                  [routerLink]="[
                    '/affiliate/sub-affiliates-details',
                    item.user_id
                  ]"
                  target="_blank"
                  class="px-2 py-2 bg-primary rounded-lg text-white hover:bg-secondary w-[50px]"
                >
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a
                  class="px-2 py-2 bg-primary rounded-lg text-white hover:bg-secondary w-[50px]"
                  [routerLink]="[
                    '/affiliate/sub-affiliates-payment-details',
                    item.user_id
                  ]"
                >
                  <i class="fa-solid fa-receipt"></i>
                </a>
                <p
                  *ngIf="item.user.is_active == 1"
                  class="px-2 py-2 bg-red rounded-lg text-white hover:bg-secondary w-[50px]"
                  (click)="deactivateSubAffiliate(item.user_id)"
                >
                  <i class="fa-solid fa-xmark"></i>
                </p>
                <a
                  *ngIf="item.user.is_active == 0"
                  class="px-2 py-2 bg-primary rounded-lg text-white hover:bg-secondary w-[50px]"
                  (click)="activateSubAffiliate(item.user_id)"
                >
                  <i class="fa-solid fa-check"></i>
                </a>

                <a
                  *ngIf="item.deadline_payment"
                  class="px-2 py-2 bg-red rounded-lg text-white hover:bg-secondary"
                  (click)="
                    setSubAffiliatePaid(item.user.id, item.deadline_payment.id)
                  "
                >
                  Payment deadline (₱{{ item.deadline_payment.amount }})
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div
        *ngIf="displayedItems.length == 0 && onsearch"
        class="w-full shadow-lg rounded-lg flex justify-center items-center bg-white"
      >
        <p class="font-bold text-16" [class.text-white]="loadingpage">
          NO {{ filtervalue.toUpperCase() }} ORDERS FOUND
        </p>
      </div>
      <div
        *ngIf="displayedItems.length == 0 && !onsearch"
        class="w-full shadow-lg rounded-lg flex justify-center items-center bg-white"
      >
        <p class="font-bold text-16" [class.text-white]="loadingpage">
          No Records Of Sub Affiliate
        </p>
      </div>
    </div>
    <nav
      class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
      aria-label="Table navigation"
      *ngIf="displayedItems.length != 0"
    >
      <span
        class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
        >Showing
        <span class="font-semibold text-gray-900 dark:text-white"
          >{{ from }}-{{ to }}</span
        >
        of
        <span class="font-semibold text-gray-900 dark:text-white">{{
          totalItem
        }}</span></span
      >
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <a
            (click)="prevChangePage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Prev</a
          >
        </li>
        <li *ngFor="let item of totalItems">
          <a
            (click)="onPageChange(item.url, item.label)"
            [class.active]="item.active"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >{{ item.label }}</a
          >
        </li>

        <li>
          <a
            (click)="nextChangePage()"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <app-modal *ngIf="openWeeklyPayment">
    <div class="w-[400px] bg-white p-4 rounded-lg shadow-lg">
      <p class="w-full text-center font-bold text-2xl mb-4">
        Set Week Day Payment
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Monday')"
        [class.bg-secondary]="selectedDay === 'Monday'"
        [class.text-white]="selectedDay === 'Monday'"
      >
        Monday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Tuesday')"
        [class.bg-secondary]="selectedDay === 'Tuesday'"
        [class.text-white]="selectedDay === 'Tuesday'"
      >
        Tuesday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Wednesday')"
        [class.bg-secondary]="selectedDay === 'Wednesday'"
        [class.text-white]="selectedDay === 'Wednesday'"
      >
        Wednesday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Thursday')"
        [class.bg-secondary]="selectedDay === 'Thursday'"
        [class.text-white]="selectedDay === 'Thursday'"
      >
        Thursday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Friday')"
        [class.bg-secondary]="selectedDay === 'Friday'"
        [class.text-white]="selectedDay === 'Friday'"
      >
        Friday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Saturday')"
        [class.bg-secondary]="selectedDay === 'Saturday'"
        [class.text-white]="selectedDay === 'Saturday'"
      >
        Saturday
      </p>
      <p
        class="w-full text-center font-bold text-16 mb-4 p-2 rounded-lg shadow-lg hover:bg-secondary hover:text-white"
        (click)="selectDay('Sunday')"
        [class.bg-secondary]="selectedDay === 'Sunday'"
        [class.text-white]="selectedDay === 'Sunday'"
      >
        Sunday
      </p>
      <div class="w-full flex justify-between items-center">
        <div
          class="px-3 py-2 text-white bg-primary-dark shadow-lg rounded-lg"
          (click)="setSubAffiliatePayment()"
        >
          Proceed
        </div>
        <div
          class="px-3 py-2 text-white bg-red shadow-lg rounded-lg"
          (click)="closeWeeklyPaymentModal()"
        >
          Cancel
        </div>
      </div>
    </div>
  </app-modal>

  <app-modal *ngIf="isModal">
    <div
      class="p-5 w-[500px] bg-white rounded-lg shadow-lg"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <p class="text-end mb-3 text-red" (click)="closeModal()">
        <i class="fa-regular fa-circle-xmark text-[30px]"></i>
      </p>
      <p class="text-center text-2xl font-bold">
        <span><i class="fa-solid fa-user-plus mr-2 text-primary"></i></span>Add
        Sub Affiliate
      </p>
      <form (ngSubmit)="submitSubAffiliate()" [formGroup]="form">
        <div class="flex flex-col justify-end my-4 gap-3">
          <div class="w-full flex justify-center items-center">
            <label
              for="picture"
              class="h-[100px] w-[150px] border border-solid p-4 shadow-lg rounded-lg"
              [class.border-[red]]="submitted && form.get('profile')!.invalid"
            >
              <img
                [src]="imageUrl"
                class="object-contain w-full h-full"
                alt=""
              />
            </label>
            <input
              type="file"
              name=""
              id="picture"
              class="hidden"
              accept="image/*"
              (change)="onFileSelected($event)"
              capture="user"
            />
          </div>
          <label for="name">Name: </label>
          <input
            type="text"
            placeholder="Juan Dela Cruz"
            formControlName="name"
            id="name"
            class="rounded-md shadow-md"
          />
          <label for="name">Phone: </label>
          <input
            type="text"
            placeholder="09*********"
            formControlName="phone"
            id="name"
            class="rounded-md shadow-md"
          />
          <label for="name">Email: </label>
          <input
            type="text"
            placeholder="Juandelecruz@gmail.com"
            id="name"
            formControlName="email"
            class="rounded-md shadow-md"
          />
          <label for="name">Password: </label>
          <input
            type="text"
            placeholder="***********"
            id="name"
            formControlName="password"
            class="rounded-md shadow-md"
          />
          <label for="name">Confirm Password: </label>
          <input
            type="text"
            placeholder="***********"
            id="name"
            formControlName="confirmPassword"
            class="rounded-md shadow-md"
          />
          <label for="name">Sub Affiliate Fee: </label>
          <input
            type="number"
            placeholder="10,000"
            formControlName="affiliate_fee"
            id="name"
            class="rounded-md shadow-md"
          />
          <label for="name">Sub Earning Percentage: </label>
          <input
            type="number"
            formControlName="earning_percentage"
            placeholder="20%"
            id="name"
            class="rounded-md shadow-md"
          />

          <button
            class="w-full bg-primary font-bold text-white py-3 rounded-2xl text-16 mt-3"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </app-modal>
</div>
