<div class="flex flex-wrap h-screen">
  <div
    class="w-full md:w-[40%] sm:w-full h-full md:order-2 sm:order-1 bg-primary p-5 flex justify-center items-center"
  >
    <div
      class="w-[500px] bg-white rounded-lg shadow-lg py-11"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500"
    >
      <div class="w-full flex flex-col items-center mb-4">
        <img
          src="../../assets/images/brp-partner-w-logo.png"
          alt=""
          class="w-[48px] h-[48px]"
        />
        <p class="text-2xl font-bold">BRP Affiliate Partner Login</p>
      </div>
      <div class="px-6">
        <label
          for="email"
          class="text-md my-3 block font-semibold text-gray-800"
          >Email / Phone</label
        >
        <input
          type="text"
          formcontrolname="user"
          id="email"
          required=""
          class="w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg border border-solid border-[#00000075]"
        />
        <label
          for="password"
          class="text-md my-3 block font-semibold text-gray-800"
          >Password</label
        >
        <input
          type="text"
          formcontrolname="user"
          id="password"
          required=""
          class="border border-solid border-[#00000075] w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg"
        />
        <div class="my-10"></div>
        <p class="text-end text-link text-16 font-semibold">
          <span class="hover:text-primary-dark" routerLink="/forgot-password"
            >Forgot Password?</span
          >
        </p>
        <div class="my-10"></div>
        <button
          type="submit"
          class="text-md btn w-full bg-primary text-white hover:bg-primary-dark py-3 rounded-lg"
        >
          Login
        </button>
      </div>
      <div class="divider text-xs text-gray-500 px-6">OR</div>
      <div class="px-6">
        <button
          type="button"
          class="text-md btn w-full bg-secondary text-white hover:bg-primary-dark py-5 rounded-lg"
          routerLink="/register"
        >
          <span><i class="fa-solid fa-users me-3"></i></span>
          Become a Affiliate Partner
        </button>
      </div>
    </div>
  </div>
  <div class="w-full md:w-[60%] sm:w-full h-full md:order-1 sm:order-2">
    <div
      class="order-2 flex min-h-[100dvh] flex-[1.5_1.5_0%] flex-col items-center justify-center bg-white px-4 py-8 lg:order-1 lg:px-8"
    >
      <div
        class="text-center text-5xl font-black uppercase"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Booking Made Easy!
      </div>
      <div class="relative mt-12">
        <div
          class="z-10 border-8 border-emerald-100 bg-primary p-8 text-center text-2xl font-extrabold text-white"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <span class="drop-shadow-lg"
            >Register as
            <span class="font-bold text-yellow-300"
              >Affiliate Partner</span
            ></span
          >
        </div>
      </div>
      <div
        class="animate-jump animate-once animate-delay-500 animate-ease-out mt-8 text-2xl"
        data-aos="zoom-in"
        data-aos-duration="3000"
      >
        <div class="font-black"></div>
        by
        <span class="font-black">Backride Palawan</span>
      </div>
    </div>
  </div>
</div>
