<app-loading-component *ngIf="loadingPage"></app-loading-component>
<app-driver-search *ngIf="driverSearchPage"></app-driver-search>
<app-connecting-to-driver
  *ngIf="connectingToDriver"
  [driverDetails]="driverDetails"
></app-connecting-to-driver>

<app-sidebar></app-sidebar>
<div class="md:ml-64">
  <app-nav-header [title]="title"></app-nav-header>
  <div class="flex flex-col h-[calc(100dvh)]" *ngIf="!openReciept">
    <!-- <app-header *ngIf="pageNo == 1" /> -->
    <div
      class="flex h-[calc(100dvh)] flex-col justify-between"
      *ngIf="pageNo == 1"
    >
      <div
        class="relative bg-[#4c6c33] min-h-[200px] flex justify-center items-center bg-center bg-cover bg-no-repeat text-white"
      >
        <div class="px-3 pt-4 pb-10">
          <div class="text-3xl text-center drop-shadow-2xl font-bold">
            Book Customer
          </div>
        </div>
      </div>

      <div
        class="z-[1] px-4 overflow-visible py-4 flex-1 flex justify-between flex-col gap-3 bg-white"
      >
        <div class="-mt-10">
          <div
            (click)="setDeliveryAddress()"
            class="rounded-2xl shadow-lg px-3 py-2 bg-white text-black flex justify-start gap-3 items-center mb-4"
          >
            <i class="fa fa-map-marker-alt fa-fw text-blue-500"></i>
            <div
              class="flex justify-between w-full items-center overflow-ellipsis"
            >
              <div class="cursor-pointer bg-white">
                <div class="font-semibold">Current Location</div>
                <div
                  *ngIf="deliveryAddress.text !== ''"
                  class="text-xs text-slate-400"
                >
                  {{ deliveryAddress.text + ", " + deliveryAddress.subText }}
                </div>
                <div
                  *ngIf="deliveryAddress.text === ''"
                  class="text-xs text-slate-400"
                >
                  Fetching Current Location....
                </div>
              </div>
              <div
                class="cursor-pointer flex justify-center items-end flex-col"
              >
                <div class="text-[0.5rem] text-blue-500 text-right p-1">
                  <!-- Use my current location -->
                </div>
              </div>
            </div>
          </div>
          <div
            (click)="setStoreAddress()"
            class="mb-3 rounded-2xl shadow-lg px-3 py-2 bg-white text-black flex justify-start gap-3 items-center"
          >
            <i class="fa fa-map-marker-alt fa-fw text-red-500"></i>
            <div
              class="flex justify-between w-full items-center overflow-ellipsis"
            >
              <div class="cursor-pointer bg-white">
                <div class="font-semibold">Destination</div>
                <div
                  *ngIf="storeAddress.text !== ''"
                  class="text-xs text-slate-400"
                >
                  {{ storeAddress.text + ", " + storeAddress.subText }}
                </div>
              </div>
              <div
                class="cursor-pointer flex justify-center items-end flex-col"
              >
                <!-- <div class="text-[0.5rem] text-blue-500 text-right p-1">
                Use my current location
              </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <!-- <div class="flex flex-col">
          <div class="font-semibold text-sm">Store location details</div>
          <input
            type="text"
            placeholder="E.g. Malapit sa Capitol"
            class="border rounded-lg focus:outline-primary px-2 py-1 placeholder:text-xs"
          />
        </div>
        <div class="flex flex-col">
          <div class="font-semibold text-sm">Items to purchase</div>
          <textarea
            class="border rounded-lg focus:outline-primary px-2 py-1 placeholder:text-xs"
            placeholder="E.g. 1 pad Ascorbic Acid, 1 pc. 1.5 Coke"
            rows="2"
          ></textarea>
        </div>
        <div class="flex flex-col">
          <div class="font-semibold text-sm">
            Estimated price of items (budget in ₱)
          </div>
          <input
            type="number"
            placeholder="e.g. 120"
            class="border rounded-lg focus:outline-primary px-2 py-1 placeholder:text-xs"
          />
        </div>
        <div class="flex flex-col">
          <div class="font-semibold text-sm">Special instructions</div>
          <textarea
            type="text"
            placeholder="e.g. Paki-contact po pag may unavailable item"
            class="border rounded-lg focus:outline-primary px-2 py-1 placeholder:text-xs"
          ></textarea>
        </div> -->
        </div>
        <button
          class="bg-primary-dark text-white px-4 font-semibold py-3 rounded-lg w-full"
          (click)="proceedPasuyo()"
        >
          Proceed
        </button>
      </div>
    </div>

    <div
      class="bg-white flex-1 flex flex-col top-0 bottom-0 right-0 left-0 z-[99999999]"
      [ngClass]="{ '!hidden': pageNo != 2 }"
    >
      <div
        class="bg-primary-dark px-3 py-2 flex justify-start gap-1 items-center overflow-ellipsis"
      >
        <i
          (click)="pageNo = 1"
          class="fa fa-arrow-left text-white cursor-pointer fa-fw fa-lg"
        ></i>
        <div
          class="flex-1 cursor-pointer rounded-2xl shadow-highlight px-3 py-2 m-3 bg-white text-black flex justify-start gap-3 items-center"
        >
          <i class="fa fa-map-marker-alt fa-fw text-blue-500"></i>
          <input
            type="search"
            [placeholder]="targetAddressPick.placeholderText"
            class="outline-none w-full"
          />
        </div>
      </div>
      <!-- <div class="flex-1" id="mapbox"></div> -->
      <app-mapbox
        #locationPicker
        (onAddressChange)="onAddressChange($event)"
        (onFetchingAddress)="isLoading = $event"
        (onClose)="pageNo = 1"
        id="mapbox"
        class="flex-1"
      />
      <div>
        <div
          class="px-4 py-4 flex flex-col gap-3 justify-center shadow-[0px_0px_5px_#00000044]"
        >
          <div
            class="cursor-pointer rounded-xl px-3 py-2 bg-slate-100 text-black flex justify-start gap-3 items-center"
          >
            <i class="fa fa-map-marker-alt fa-fw text-blue-500"></i>
            <div>
              <div class="font-semibold truncate h-[1.5rem] w-[calc(70dvw)]">
                {{ address.text }}
              </div>
              <div class="text-xs truncate h-[1rem] w-[calc(70dvw)]">
                {{ address.subText }}
              </div>
            </div>
          </div>
          <div
            *ngIf="targetAddressPick.target == 'delivery'"
            class="cursor-pointer border-b px-3 py-2 pb-4 mb-2 text-black flex justify-start gap-3 items-center"
          >
            <i class="fa fa-pencil fa-fw text-primary-accent"></i>
            <div>
              <div class="text-xs font-semibold">
                Add pickup notes for driver
              </div>
            </div>
          </div>
          <button
            (click)="pageNo = 1"
            [disabled]="isLoading"
            class="bg-primary-dark text-white px-4 font-semibold py-3 rounded-lg w-full"
            [ngClass]="{ '!bg-gray-500': isLoading }"
          >
            <span *ngIf="!isLoading">{{ targetAddressPick.buttonText }}</span>
            <span *ngIf="isLoading">
              <i class="fa fa-spinner animate-spin"></i>
            </span>
          </button>
        </div>
      </div>
    </div>

    <div
      class="bg-white border flex-1 flex flex-col top-0 bottom-0 right-0 left-0 z-[9]"
      [ngClass]="{ '!hidden': pageNo != 3 }"
      *ngIf="pageNo == 3"
    >
      <app-mapbox
        *ngIf="pageNo != 3"
        #locationPicker2
        (onAddressChange)="onAddressChange($event)"
        (onFetchingAddress)="isLoading = $event"
        (onClose)="pageNo = 1"
        id="mapbox-2"
        mapboxId="mapbox-2"
        class="flex-1"
      />
      <div>
        <div
          class="relative bg-[#4c6c33] min-h-[200px] flex justify-center items-center bg-center bg-cover bg-no-repeat text-white"
        >
          <div class="px-3 pt-4 pb-10">
            <div class="text-3xl text-center drop-shadow-2xl font-bold">
              Book Customer
            </div>
          </div>
        </div>
        <div
          class="px-4 py-4 flex flex-col gap-3 justify-center shadow-[0px_0px_5px_#00000044]"
        >
          <form (ngSubmit)="proceedBook()" [formGroup]="bookForm">
            <label
              for="text"
              class="text-md my-3 block font-semibold text-gray-800"
              >Customer Full Name</label
            >
            <input
              type="text"
              id="email"
              formControlName="fullname"
              required=""
              class="w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg border border-solid border-[#00000075]"
            />
            <label
              for="text"
              class="text-md my-3 block font-semibold text-gray-800"
              >Phone Number</label
            >
            <input
              type="text"
              id="email"
              formControlName="phone"
              required=""
              class="w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg border border-solid border-[#00000075]"
            />

            <div class="font-bold">Choose a Vehicle</div>

            <div class="flex justify-center gap-3">
              <div
                *ngFor="let v of vehiclesAvailable"
                (click)="selectPautosVehicle(v)"
                class="rounded-2xl bg-lime-green md:w-[200px] flex gap-2 p-2 md:flex-col justify-between items-center shadow-lg border-solid my-4"
                [ngClass]="{
                  '!bg-blue-200': selectedPautosVehicle?.slug == v.slug
                }"
              >
                <div class="rounded-2xl bg-lime-green flex gap-4 items-center">
                  <div
                    class="h-[40px] w-[40px] bg-primary rounded-lg flex justify-center items-center"
                  >
                    <i
                      class="fa-solid fa-motorcycle text-white text-16"
                      *ngIf="v.slug == 'motorcycle'"
                    ></i>
                    <i
                      class="fa-solid fa-car text-white text-16"
                      *ngIf="v.slug == 'car'"
                    ></i>
                    <i
                      class="fa-solid fa-tricycle text-white text-16"
                      *ngIf="v.slug == 'tricycle'"
                    ></i>
                  </div>
                  <div>{{ v?.name }}</div>
                </div>
                <div class="flex flex-col justify-between items-">
                  <p class="font-semibold text-12">
                    ₱<span class="font-bold text-12"
                      >{{ v.base_fare }} Base</span
                    >
                  </p>
                  <p class="font-semibold text-12">
                    max
                    <span class="font-bold text-12"
                      >{{
                        v.max_seat == 1
                          ? v.max_seat + " seat"
                          : v.max_seat + " seats"
                      }}
                    </span>
                  </p>
                  <p class="font-semibold text-12">
                    ₱<span class="font-bold text-12"
                      >{{ v.distance_fare }}/km</span
                    >
                  </p>
                </div>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="isLoading"
              class="bg-primary-dark text-white px-4 font-semibold py-3 rounded-lg w-full"
              [ngClass]="{ '!bg-gray-500': isLoading }"
            >
              <span>Book Now</span>
              <!-- <span *ngIf="!hasPickedVehicle">
            <i class="fa fa-spinner animate-spin"></i>
          </span> -->
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-receipt
    *ngIf="openReciept"
    [orderReceipt]="book_order_details"
    [commissionNumber]="commission"
  ></app-receipt>
</div>
