<div class="w-full h-screen flex justify-center items-center">
  <div class="w-[500px] p-4 bg-primary flex flex-col rounded-2xl shadow-lg">
    <p class="text-center text-2xl font-bold text-white uppercase">
      <i class="fa-solid fa-receipt"></i>&nbsp;Reciept
    </p>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Base Distance</p>
      <p>2 KM</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Base Fare</p>
      <p>30 PHP</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Per KM</p>
      <p>16 PHP</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Pickup Distance</p>
      <p>0.62 KM</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Pickup Exceed</p>
      <p>0 KM</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Trip Distance</p>
      <p>2.64 KM</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Trip Fee</p>
      <p>41 PHP</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Pickup Fee</p>
      <p>0 PHP</p>
    </div>
    <div class="divider-line bg-white"></div>
    <div class="flex justify-between items-center">
      <p class="text-16 font-semibold text-white">Luggage Fee</p>
      <p>0 PHP</p>
    </div>
    <div class="divider-line bg-white"></div>

    <div class="flex justify-between items-center">
      <p class="text-2xl font-semibold text-white">Current Total</p>
      <p class="text-2xl font-semibold">61 PHP(Cash)</p>
    </div>
  </div>
</div>
