<app-loading-component *ngIf="loadingPage"></app-loading-component>
<div class="w-full h-screen bg-primary flex justify-center items-center">
  <div
    class="w-[500px] bg-secondary p-5 rounded-lg shadow-lg"
    data-aos="zoom-out-down"
  >
    <p class="text-center">
      <i class="fa-solid fa-user-lock text-7xl text-primary-dark"></i>
    </p>
    <div class="my-5"></div>
    <h1 class="text-2xl text-white text-center">Forgot Your Password?</h1>
    <div class="my-5"></div>
    <div *ngIf="!otpRequest && !newPass">
      <p class="text-1xl text-white text-start">
        Please enter your phone number below to request a one-time password
        (OTP) to reset your password.
      </p>
      <!-- <label for="phone" class="text-md my-3 block font-semibold text-white"
      >Phone Number:</label
    > -->
      <form (ngSubmit)="requestOtp()" [formGroup]="phoneform">
        <input
          type="text"
          id="phone"
          required=""
          formControlName="phone"
          placeholder="09********"
          class="border border-solid border-[#00000075] w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg my-3"
        />
        <button
          type="submit"
          class="w-full bg-primary text-white py-2 rounded-lg shadow-lg hover:bg-primary-dark"
        >
          Send OTP
        </button>
      </form>
    </div>
    <div *ngIf="otpRequest && !newPass">
      <p class="text-1xl text-white text-start">
        Once you receive the OTP on your phone, enter it below to complete the
        password reset process.
      </p>

      <form [formGroup]="codeform">
        <div class="flex justify-center items-center">
          <p-inputOtp
            pAutoFocus
            [autofocus]="true"
            [length]="6"
            formControlName="code"
            class="my-3"
          ></p-inputOtp>
        </div>

        <button
          class="w-full bg-primary text-white py-2 rounded-lg shadow-lg hover:bg-primary-dark"
          (click)="verifyOtp()"
        >
          Send OTP
        </button>
      </form>
    </div>
    <div *ngIf="!otpRequest && newPass">
      <p class="text-1xl text-white text-start">
        Please enter your new password.
      </p>
      <!-- <label for="phone" class="text-md my-3 block font-semibold text-white"
      >Phone Number:</label
    > -->
      <form (ngSubmit)="changePassword()" [formGroup]="newPassword">
        <input
          type="password"
          id="password"
          required=""
          formControlName="password"
          placeholder="New Password"
          class="border border-solid border-[#00000075] w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg my-3"
        />
        <button
          type="submit"
          class="w-full bg-primary text-white py-2 rounded-lg shadow-lg hover:bg-primary-dark"
        >
          Change Password
        </button>
      </form>
    </div>

    <div class="divider text-xs text-white">OR</div>
    <div class="my-4"></div>
    <button
      class="w-full bg-primary-dark text-white py-2 rounded-lg shadow-lg hover:bg-primary"
      routerLink="/login"
    >
      <i class="fa-solid fa-door-open"></i> &nbsp;&nbsp;Back to Login
    </button>
  </div>
</div>
