<div class="w-full h-screen bg-primary flex justify-center items-center">
  <div
    class="w-[500px] bg-secondary p-5 rounded-lg shadow-lg"
    data-aos="zoom-out-down"
  >
    <p class="text-center">
      <i class="fa-solid fa-user-lock text-7xl text-primary-dark"></i>
    </p>
    <div class="my-5"></div>
    <h1 class="text-2xl text-white text-center">Forgot Your Password?</h1>
    <div class="my-5"></div>
    <div *ngIf="!otpRequest">
      <p class="text-1xl text-white text-start">
        Please enter your phone number below to request a one-time password
        (OTP) to reset your password.
      </p>
      <!-- <label for="phone" class="text-md my-3 block font-semibold text-white"
      >Phone Number:</label
    > -->
      <input
        type="text"
        id="phone"
        required=""
        placeholder="09********"
        class="border border-solid border-[#00000075] w-full rounded-lg bg-gray-100 px-4 py-2 focus:outline-none shadow-lg my-3"
      />

      <button
        class="w-full bg-primary text-white py-2 rounded-lg shadow-lg hover:bg-primary-dark"
      >
        Send OTP
      </button>
    </div>
    <div *ngIf="otpRequest">
      <p class="text-1xl text-white text-start">
        Once you receive the OTP on your phone, enter it below to complete the
        password reset process.
      </p>

      <form action="" [formGroup]="form">
        <div class="flex justify-center items-center">
          <p-inputOtp
            pAutoFocus
            [autofocus]="true"
            [length]="5"
            formControlName="code"
            class="my-3"
          ></p-inputOtp>
        </div>

        <button
          class="w-full bg-primary text-white py-2 rounded-lg shadow-lg hover:bg-primary-dark"
        >
          Send OTP
        </button>
      </form>
    </div>
    <div class="divider text-xs text-white">OR</div>
    <div class="my-4"></div>
    <button
      class="w-full bg-primary-dark text-white py-2 rounded-lg shadow-lg hover:bg-primary"
      routerLink="/login"
    >
      <i class="fa-solid fa-door-open"></i> &nbsp;&nbsp;Back to Login
    </button>
  </div>
</div>
